@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    --titles-color: #ffffff;
    --mainBack-color: rgb(0,0,0);
    --amber-color: #FBBF24;
    --content-color: #ffffffb3;
    --nav-color: rgba(0,0,0,0.8);
    --resume-color: #1a1a1a;
  }

  .dark-mode{
    --titles-color: #ffffff;
    --mainBack-color: rgb(0,0,0);
    --amber-color: #FBBF24;
    --content-color: #ffffffb3;
    --nav-color: rgba(0,0,0,0.8);
    --resume-color: #1a1a1a;
  }

  .light-mode{
    --titles-color: #1E293B;
    --mainBack-color: #ffffff;
    --amber-color: #FBBF24;
    --content-color: #64748B;
    --nav-color: rgba(255,255,255,0.8);
    --resume-color: #E2E8F0;
  }
}

@layer components {
  .col-center{
    @apply flex flex-col justify-center items-center;
  }

  .row-center{
    @apply flex flex-row justify-center items-center;
  }

  .service{
    @apply list-none font-["Poppins"] text-xl text-skin-fourth mb-2;
  }

  .media{
    @apply rounded-full bg-[#1a1a1a] w-14 h-14 row-center;
  }

  .nav-element{
    @apply font-medium text-lg hover:text-skin-third text-skin-secondary cursor-pointer;
  }

  .footer-title{
    @apply font-bold text-3xl leading-normal md:mb-10 mb-6 text-skin-secondary;
  }
}